<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\GSC.Api.dll" forwardWindowsAuthToken="true" stdoutLogEnabled="false" startupTimeLimit="3600" requestTimeout="23:00:00" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
      <environmentVariables />
    </aspNetCore>
  </system.webServer>
</configuration>
<!--ProjectGuid: 3974e2f2-08f7-4339-9f84-e4671c02e20d-->